<section class="container">
    <div class="aboutus row justify-content-between">
        <div class="about col-md-6">
            <img [src] ="ImagePath"  class="w-100 mb-5 mb-md-0" alt="unable to display">
        </div>
        <div class="aboutcontent col-md-6" style="padding-top: 7rem;padding-left: 5rem;">
            <span style="font-size: 1.7rem;color:var(--blue);">about us</span>
            <h3 class="abouthead">True Healthcare For Your Family</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cupiditate vero in provident ducimus. Totam quas labore mollitia cum nisi, sint, expedita rem error ipsa, nesciunt ab provident. Aperiam, officiis!</p>
            <!-- <a href="#contact" class="link-btn">make appointment</a> -->
            <a [routerLinkActive]="'activeroute'"  routerLink="Contact" fragment="Contact" class="link-btn">make appointment</a>
        </div>
    </div>
    
 </section>