<section style="background-color: var(--light-bg)">
    <div class="container" >
        <div class="head">
            <h1 class="heading">our services</h1>
        </div>
        <div>
            <div class="d-flex ">
                <div id="service" class="text-center p-4 " >
                    <img src={{ImagePath1}} alt="" style=" margin:1rem 0;
                    height: 4rem;">
                    <h3 style=" margin:1rem 0;">Alignment specialist</h3>
                    <p style="line-height: 2;font-size: 1.3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?</p>
                </div>
                <div id="service" class="text-center p-4 " >
                    <img src={{ImagePath2}}  alt="" style=" margin:1rem 0;
                    height: 4rem;">
                    <h3 style=" margin:1rem 0;">Cosmetic dentistry</h3>
                    <p style="line-height: 2;font-size: 1.3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?</p>
                </div>
                <div id="service1" class="text-center p-4 " >
                    <img src={{ImagePath3}}  alt="" style=" margin:1rem 0;
                    height: 4rem;">
                    <h3 style=" margin:1rem 0;">Oral hygiene experts</h3>
                    <p style="line-height: 2;font-size: 1.3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?</p>
                </div>
                
            </div>
            <div class="mt-4">
                <div class="d-flex flex-row  ">
                    <div id="service" class="text-center p-4 " >
                        <img src={{ImagePath4}}  alt="" style=" margin:1rem 0;
                        height: 4rem;">
                        <h3 style=" margin:1rem 0;">Root canal specialist</h3>
                        <p style="line-height: 2;font-size: 1.3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?</p>
                    </div>
                    <div id="service" class="text-center p-4 " >
                        <img src={{ImagePath5}}  alt="" style=" margin:1rem 0;
                        height: 4rem;">
                        <h3 style=" margin:1rem 0;">Live dental advisory</h3>
                        <p style="line-height: 2;font-size: 1.3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?</p>
                    </div>
                    <div id="service1" class="text-center p-4 " >
                        <img src={{ImagePath6}}  alt="" style=" margin:1rem 0;
                        height: 4rem;">
                        <h3 style=" margin:1rem 0;">Cavity inspection</h3>
                        <p style="line-height: 2;font-size: 1.3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div></div>
    </div>
 </section>
 