<section class=" home1 min-vh-100">
    <div class=" home container d-flex flex-column " >
        <div class="content  " style="width: 55rem ; padding-right: 2rem;margin-top: 10%;">
           <h3>LET US BRIGHTEN YOUR SMILE</h3>
            <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, quibusdam voluptatum eum dignissimos 
                accusamus!</p>
            <!-- <a href="#contact" class="link-btn">make appointment</a> -->
            <a [routerLinkActive]="'activeroute'" (click)="openloginbefore()" routerLink="Contact" class="link-btn">make appointment</a>
        </div>
       
    </div>
    
 </section>